<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driving.mapper.ClassDetailMapper" >

<!--
<resultMap id="ClassName" type="com.driving.model.ClassName" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />

    <collection property="ClassType" column="id"
                javaType="com.driving.model.ClassType">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />

        <association property="ClassDef" column="id"
                     javaType="com.driving.model.ClassDef">
            <id column="id" property="id" jdbcType="VARCHAR" />
            <result column="name_id" property="name_id" jdbcType="VARCHAR" />
            <result column="type_id" property="type_id" jdbcType="VARCHAR" />
            <result column="service_list" property="service_list" jdbcType="VARCHAR" />
            <result column="cost_list" property="cost_list" jdbcType="VARCHAR" />
            <result column="price" property="price" jdbcType="FLOAT" />
        </association>
    </collection>
</resultMap>

-->
    <resultMap id="ClassName" type="com.driving.model.ClassName" >
         <id column="id" property="id" jdbcType="VARCHAR" />
         <result column="name" property="name" jdbcType="VARCHAR" />
         <result column="intro" property="intro" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="ClassType" type="com.driving.model.ClassType">
           <id column="id" property="id" jdbcType="VARCHAR" />
           <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

   <resultMap id="ClassDef" type="com.driving.model.ClassDef">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name_id" property="name_id" jdbcType="VARCHAR" />
        <result column="type_id" property="type_id" jdbcType="VARCHAR" />
        <result column="service_list" property="service_list" jdbcType="VARCHAR" />
        <result column="cost_list" property="cost_list" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="FLOAT" />
    </resultMap>

<!--&lt;!&ndash; 查询 ClassDetail&ndash;&gt;-->
<select id="findAllClassDetail" resultType="com.driving.model.ClassDetail">
    SELECT class_def.id as class_id ,class_name.name as class_name, class_type.name as class_type,service_list as service_list,cost_list as cost_list,price as price
    FROM class_def,class_name,class_type
    WHERE class_def.type_id = class_type.id AND class_name.id = class_def.name_id AND class_def.name_id = '01'
</select>


</mapper>