<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driving.mapper.OrderMapper" >
    <resultMap id="BaseResultMap" type="com.driving.model.Order" >
        <id column="id" property="id" jdbcType="VARBINARY" />
        <result column="user_id" property="userID" jdbcType="VARBINARY" />
        <result column="class_def_id" property="classDefID" jdbcType="VARBINARY" />
        <result column="ground_id" property="groundID" jdbcType="VARBINARY" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="paid" property="paid" jdbcType="REAL" />
    </resultMap>

    <!--创建 order，自动生成 id-->
    <insert id="createOrder" parameterType="com.driving.model.Order" >
        <selectKey keyProperty="id" resultType="_byte[]"
                   order="BEFORE">
            select unhex(replace(uuid(),'-',''))
        </selectKey>
        INSERT INTO
        `order`
        (id,user_id,class_def_id,ground_id,status,paid)
        VALUES
        ( #{id},#{id}, #{id},#{id},#{status},#{paid});
    </insert>

    <!-- 查询 order-->
    <select id="findOrderByUser" resultMap="BaseResultMap">
        SELECT * FROM `order` where user_id = #{user_id};
    </select>
    <!-- 查询 order 列表-->
    <select id="findAllOrder" resultMap="orderResultMap">
        SELECT * FROM `order`;
    </select>

</mapper>