<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driving.mapper.UserMapper" >
  <resultMap id="UserMap" type="com.driving.model.Account" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
  </resultMap>

  <!--添加 User，自动生成 id-->
  <insert id="insertUser" parameterType="com.driving.model.User" >
    <selectKey keyProperty="id" resultType="_byte[]"
               order="BEFORE">
      select UUID()
    </selectKey>
    INSERT INTO
    user
    (id,account_id,name)
    VALUES
    ( #{id},#{accountId}, #{name})
  </insert>

  <!--获取当前用户信息-->
  <select id="getUser" resultType="com.driving.model.User">
    SELECT  id,account_id,name,img,district FROM user WHERE id = #{id}
  </select>

  <!--更新当前用户-->
  <update id="updateUser" parameterType="java.lang.String">
    update "user"
    <set>
      <if test="username!=null"> name = #{username}</if>
      <if test="image!=null"> img = #{image}</if>
      <if test="district!=null"> district = #{district}</if>
    </set>
    where id = #{id}
  </update>
</mapper>