<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driving.dao.AccountDao" >
  <resultMap id="BaseResultMap" type="com.driving.model.Account" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="wx_account" property="wx_account" jdbcType="VARCHAR" />
    <result column="login_password" property="login_password" jdbcType="VARCHAR" />
  </resultMap>
  <!--<sql id="Base_Column_List" >
    user_id, user_name, password, phone
  </sql>
  -->

  <!-- 登录-->
  <select id="login" resultType="com.driving.model.Account">
    SELECT  id,phone,wx_account,login_password FROM account
    WHERE phone = #{phone} AND login_password = #{password}
  </select>

 <!-- 查询Account-->
  <select id="findAllAccount" resultType="com.driving.model.Account">
    SELECT  id,phone,wx_account,login_password FROM account
  </select>

  <!--添加Account，自动生成id-->
  <insert id="insertAccount" parameterType="com.driving.model.Account" >
    <selectKey keyProperty="id" resultType="java.lang.String"
               order="BEFORE">
      select UUID()
    </selectKey>
    INSERT INTO
    account
    (id,phone,wx_account,login_password)
    VALUES
    ( #{id},#{phone}, #{wx_account},#{login_password})
  </insert>

  <!--根据id删除Account-->
  <delete id="deleteAccountById" parameterType="java.lang.String">
    delete from
    account
    where id
    = #{id}
  </delete>

  <update id="updateAccount" parameterType="java.lang.String">
    update account
    <set>
      <if test="login_password!=null">login_password=#{login_password}</if>
    </set>
    where id = #{id}
  </update>

</mapper>